<h1>Admin Application Info</h1>
<p> Name: <%= @application.name %></p>
<p> Street address: <%= @application.street_address %></p>
<p> City: <%= @application.city %></p>
<p> State: <%= @application.state %></p>
<p> Zip code: <%= @application.zip_code %></p>
<p> Description: <%= @application.description %></p>
<p> Status: <%= @application.status %></p>

<section class='pets'>
  <% @pets.each do |pet| %>
    <p>Applying for: <%= pet.name %></p>
    <% if @application.pet_approved?(pet) %>
      <p><%= "#{pet.name}: Approved" %></p>
    <% elsif @application.pet_rejected?(pet) %>
      <p><%= "#{pet.name}: Rejected" %></p>
    <% else %>
      <%= button_to "Reject: #{pet.name}", "/admin/applications/#{@application.id}/pets/#{pet.id}/?status=Rejected", method: :patch %>
      <%= button_to "Approve: #{pet.name}", "/admin/applications/#{@application.id}/pets/#{pet.id}/?status=Approved", method: :patch %>
    <% end %>
  <% end %>
</section> 